{% extends "base.html" %}
{% load static %}

{% block title %}
	Domain {% if domain %}Edit{% else %}Add{% endif %}
{% endblock title %}

{% block head %}
	{{ block.super }}
	<link href="{% static 'css/bootstrap-datepicker3.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
{% endblock head %}


{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="row text-center">
						<h3>{% if domain %}Edit{% else %}Add{% endif %} domain</h3>
					</div>
					<div class="panel-heading">
						{% if domain %}
							<a href="{% url 'domain-detail' pk=domain.pk %}">General</a> |
							<a href="{% url 'domain-logs' pk=domain.pk %}">Logs</a>
						{% endif %}
					</div>

					<div class="panel panel-body">
						{% include 'inc/form-errors.html' %}
                        <form method="POST" action="." class="form-horizontal">
						    <div class="row">
								{% csrf_token %}
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="id_name" class="control-label">Name:</label>
                                        </div>
                                        <div class="col-md-5">
                                            {{ form.name }}
                                        </div>
                                        <div class="col-md-3">
                                            <div class="js-error-name form-error" style="display: none;"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="id_company_name" class="control-label">Company name:</label>
                                        </div>
                                        <div class="col-md-8">
                                            {{ form.company_name }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="id_company_address" class="control-label">Company address:</label>
                                        </div>
                                        <div class="col-md-8">
                                            {{ form.company_address }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="id_telephone" class="control-label">Telephone:</label>
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.telephone }}
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" class="btn btn-success js-show-telephone">Add telephone</a>
                                        </div>
                                    </div>
                                    <div class="form-group add-telephone {% if not form.telephone2.value %}hidden{% endif %}">
                                        <div class="col-md-4">
                                            <label for="id_telephone2" class="control-label">Telephone 2:</label>
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.telephone2 }}
                                        </div>
                                    </div>
                                    <div class="form-group add-telephone {% if not form.telephone3.value %}hidden{% endif %}">
                                        <div class="col-md-4">
                                            <label for="id_telephone3" class="control-label">Telephone 3:</label>
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.telephone3 }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="id_email" class="control-label">Email:</label>
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.email }}
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" class="btn btn-success js-show-email">Add email</a>
                                        </div>
                                    </div>
                                    <div class="form-group add-email {% if not form.email2.value %}hidden{% endif %}">
                                        <div class="col-md-4">
                                            <label for="id_email2" class="control-label">Email 2:</label>
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.email2 }}
                                        </div>
                                    </div>
                                    <div class="form-group add-email {% if not form.email3.value %}hidden{% endif %}">
                                        <div class="col-md-4">
                                            <label for="id_email3" class="control-label">Email 3:</label>
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.email3 }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-9">
                                            <label for="id_notify_admin_editor" class="control-label">
                                                Данные на
                                                {% if form.instance.name %}
                                                    <a href="http://{{ form.instance.name }}" target="_blank">сайте</a>
                                                {% else %}
                                                    сайте
                                                {% endif %}
                                                не актуальны надо внести изменения?
                                            </label>
                                        </div>
                                        <div class="col-md-2">
                                            {{ form.notify_admin_editor }}
                                        </div>
                                    </div>
                                    <div class="js-show-admin-editor {% if not form.notify_admin_editor.value %}hide{% endif %}">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="id_admin_editor" class="control-label">Кого оповестить?</label>
                                            </div>
                                            <div class="col-md-8">
                                                {{ form.admin_editor }}
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="id_editor_method" class="control-label">Сделать данные</label>
                                            </div>
                                            <div class="col-md-4">
                                                {{ form.editor_method }}
                                            </div>
                                        </div>
                                    </div>
                                    {% if editor_admin_list %}
                                        <p class="text-warning">
                                            На данный момент {% for admin in editor_admin_list %} {{ admin }} {% endfor %}
                                            уведомлен об изменении информации. Он подтвердит, как только сделает.
                                            <br>Если вы хотите что-то поменять, то отправьте уведомление повторно или свяжитесь с ним в мессенджере.
                                        </p>
                                    {% endif %}


                                    <div class="form-group">
                                        <div class="col-md-9">
                                            <label for="id_notify_admin_whois" class="control-label">
                                                Данные в whois не актуальны надо внести изменения?
                                            </label>
                                        </div>
                                        <div class="col-md-2">
                                            {{ form.notify_admin_whois }}
                                        </div>
                                    </div>
                                    <div class="js-show-admin-whois {% if not form.notify_admin_whois.value %}hide{% endif %}">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="id_admin_whois" class="control-label">Кого оповестить?</label>
                                            </div>
                                            <div class="col-md-8">
                                                {{ form.admin_whois }}
                                            </div>
                                        </div>
                                    </div>

                                    {% if whois_admin_list %}
                                        <p class="text-warning">
                                            На данный момент {% for admin in whois_admin_list %} {{ admin }} {% endfor %}
                                            уведомлен об изменении информации. Он подтвердит, как только сделает.
                                            <br>Если вы хотите что-то поменять, то отправьте уведомление повторно или свяжитесь с ним в мессенджере.
                                        </p>
                                    {% endif %}


                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label for="id_date_register" class="control-label">Date registrations:</label>
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.date_register }}
                                        </div>
                                        <div class="col-md-1">
                                            <div class="js-loader hidden"><i class="fa fa-spinner fa-spin fa-2x fa-fw margin-bottom"></i></div>
                                            <div class="js-error-message text-danger"></div>
                                        </div>
                                        <div class="col-md-2">
                                            <a href="#" class="btn btn-success js-get-whois">Set current whois date</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label for="id_date_expire" class="control-label">Date expiration:</label>
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.date_expire }}
                                        </div>
                                        <div class="col-md-2">
                                            <div class="js-loader hidden"><i class="fa fa-spinner fa-spin fa-2x fa-fw margin-bottom"></i></div>
                                            <div class="js-error-message text-danger"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label for="id_manager" class="control-label">Manager</label>
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.manager }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label for="id_admin" class="control-label">Admin:</label>
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.admin }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label for="id_pci_scan_name" class="control-label">PCI Scan Name:</label>
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.pci_scan_name }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label for="id_date_last_scan" class="control-label">Date of last scan:</label>
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.date_last_scan }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">

                                        <div class="text-center text-primary">
                                            <p>Установить статус {% if domain %}(текущий - {{ domain.status }}){% endif %}</p>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <label for="id_status" class="control-label">status:</label>
                                            </div>
                                            <div class="col-md-4">
                                                {{ form.status }}
                                            </div>
                                        </div>

                                    <hr>
                                    <div class="text-center text-primary">
                                        <p>Редиректы
                                        <p>Редиректы
                                            (статус -
                                                {% for admin in redirect_admin_list %}
                                                    <span class="text-warning">{{ admin }} - Оповещен и уже делает</span>
                                                {% empty %}
                                                    <span class="text-success">Актуальный</span>
                                                {% endfor %}
                                            )
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="id_redirect" class="control-label">Redirect for email:</label>
                                        </div>
                                        <div class="col-md-8">
                                            {{ form.redirect }}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label for="id_redirect_phone" class="control-label">Redirect for phone:</label>
                                        </div>
                                        <div class="col-md-8">
                                            {{ form.redirect_phone }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-7">
                                            <label for="id_notify_admin_registrar" class="control-label">Оповестить админа об изменении редиректов?</label>
                                        </div>
                                        <div class="col-md-2">
                                            {{ form.notify_admin_registrar }}
                                        </div>
                                    </div>
                                    <div class="js-show-admin-registrar {% if not form.notify_admin_registrar.value %}hide{% endif %}">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label for="id_admin_registrar" class="control-label">Кого оповестить?</label>
                                            </div>
                                            <div class="col-md-6">
                                                {{ form.admin_registrar }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
						    </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-6">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock container %}

{% block scripts %}
	{{ block.super }}

{#	<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>#}
{#	<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>#}
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script>

		$('.js-show-telephone').on('click', function () {
			var show_block = $('.add-telephone:hidden');
			var show = false;
			show_block.each(function () {
			    if (!show){
			        $(this).removeClass('hidden');
			        show = true
				}
            });
            return false;
        });
		$('.js-show-email').on('click', function () {
			var show_block = $('.add-email:hidden');
			var show = false;
			show_block.each(function () {
			    if (!show){
			        $(this).removeClass('hidden');
			        show = true
				}
            });
            return false;
        });

		function Hider(targetObj){
            var css_class = 'hide';
            if (targetObj.hasClass(css_class))
                targetObj.removeClass(css_class);
            else
                targetObj.addClass(css_class)
        }

        $('#id_notify_admin_registrar').on('click', function () {
            Hider($('.js-show-admin-registrar'));
        });

		$('#id_notify_admin_editor').on('click', function () {
		    Hider($('.js-show-admin-editor'));
		});

		$('#id_notify_admin_whois').on('click', function () {
		    Hider($('.js-show-admin-whois'));
		});

		var domain_name = $('#id_name');
		var domain_name_load_value = domain_name.val();
		domain_name.autocomplete({
			source: "{% url 'search-domain-name' %}",
			minLength: 3,
			appendTo: "#js-append-domain-name-res",
			select: function(e, ui) {
			    e.preventDefault();
			    this.value = ui.item.name;
			}
		}).data('ui-autocomplete')._renderItem = function(ul, item) {
			return $("<li>")
				.data("name", item.name)
				.append(item.name)
				.appendTo(ul);
		};

		domain_name.blur(function () {
			if (this.value.length > 0 && this.value !== domain_name_load_value ) {
			    var error = $('.js-error-name');
			    var _this = this;
			    $.ajax({
			        url: "{% url 'domain-exists' %}",
					data: {
			            domain_name: this.value
					},
					success: function (data) {
						if (data.exists){
						    error.html('Domain exists!').show();
						    _this.invalid = true;
						} else {
                            error.html('').hide();
                            _this.invalid = false;
                        }
                    }
				})
			}
        });

		$('#id_company_name').autocomplete({
			source: "{% url 'search-company-name' %}",
			minLength: 3,
			select: function(e, ui) {
			    e.preventDefault();
			    this.value = ui.item.name;
			}
		}).data('ui-autocomplete')._renderItem = function(ul, item) {
			return $("<li>")
				.attr("data-id", item.name)
				.append(item.name)
				.appendTo(ul);
		};

		$('.js-get-whois').on('click', function (){
			var domain_name = $('#id_name').val();

			if (domain_name.length === 0){
			    alert('domain name is empty!');
			    return false;
			}
			var loader = $('.js-loader');
			var errors = $('.js-error-message');

			$.ajax({
				url: '{% url 'get-whois' %}',
				data: {
					domain_name: domain_name
				},
				beforeSend: function (){
				    loader.removeClass('hidden');
					errors.html()
				},
				success: function (data) {
					$('#id_date_register').val(data.creation_date);
					$('#id_date_expire').val(data.expiration_date);
				},
				error: function (data) {
					errors.html('Fail - ' + data)
                },
				complete: function () {
					loader.addClass('hidden')
                }
			});
			return false;
		});
	</script>
{% endblock %}