{% extends 'base.html' %}
{% load static domains_tag %}

{% block title %}
	Domain list
{% endblock title %}

{% block head %}
	{{ block.super }}
	<link href="{% static 'css/bootstrap-datepicker3.css' %}" rel="stylesheet">
{% endblock head %}

{% block container %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="row text-center">
						<h3>
							{% if domain %}
								Logs - {{ domain }}
							{% else %}
								Reminders
							{% endif %}
						</h3>
					</div>
					<div class="panel-heading">
						{% if domain %}
							<a href="{% url 'domain-detail' pk=domain.pk %}">General</a> |
						{% endif %}
						Logs
					</div>

					<div class="panel panel-body">
						<div class="table-responsive" style="min-height: 200px">
							{% if reader %}
                                <a href="?read=all">Read all</a>
							{% endif %}
							<table class="table">
								<thead class="thead-light">
									<tr>
										<th scope="col">Domain name</th>
										<th scope="col">New values</th>
										<th scope="col">Old values</th>
										<th scope="col">DateTime</th>
										<th scope="col">Changer</th>
										<th scope="col">Status</th>
									</tr>
								</thead>
								<tbody id="js-result-data">
									{% for action in actions %}
										<tr {% if not action.is_read %} class="bg-info" {% endif %}>
											<td scope="row">
												<a href="{% url 'domain-edit' pk=action.domain.pk %}">{{ action.domain }}</a>
											</td>

											<td scope="row">
												{% for key, item in action.data.items %}
													{% if 'old' not in key %}
														<span class="text-success">{{ key }}: {{ item }},</span>
													{% endif %}
												{% endfor %}
											</td>

											<td scope="row">
												{% for key, item in action.data.items %}
													{% if 'old_' in key %}
														<span class="text-success">{{ key }}: {{ item }},</span>
													{% endif %}
												{% endfor %}
											</td>

											<td scope="row">{{ action.created_at|date:'d.m.Y H:i' }}</td>
											<td scope="row">{{ action.user }}</td>
											<td scope="row">
												{% if action.is_read %}
													Read
												{% else %}
													{% if action.domain.manager == request.user   %}
														<a href="?read={{ action.pk }}">Unread</a>
													{% else %}
														Unread
													{% endif %}

												{% endif %}
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock container %}
