<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="collapse navbar-collapse" id="app-navbar-collapse">
			<!-- Left Side Of Navbar -->
			{% if user.is_authenticated %}
				<ul class="nav navbar-nav navbar-left">
					<li><a class="{% if current_page == 'domain_list' %}current-page{% endif %}" href="/">Domain list</a></li>

					{% if user.is_staff_or_admin %}
						<li><a class="{% if current_page == 'my_list' %}current-page{% endif %}" href="{% url 'my-domain-list' %}">My domain list<span class="js-reminders-count"></span></a></li>
						<li><a class="{% if current_page == 'domain_add' %}current-page{% endif %}" href="{% url 'domain-add' %}">Add Domain</a></li>
						<li><a class="{% if current_page == 'import_domains' %}current-page{% endif %}" href="{% url 'import-domains' %}">Import Domains</a></li>
						<li><a class="{% if current_page == 'export_domains '%}current-page{% endif %}" href="{% url 'export-domains' %}">Export Domains</a></li>
					{% endif %}

					{% if user.is_superuser %}
						<li><a class="{% if current_page == 'user_list' %}current-page{% endif %}" href="{% url 'user-list' %}">Users</a></li>
                        <li><a class="{% if current_page == 'notify' %}current-page{% endif %}" href="{% url 'notify' %}">Notify <span class="js-notify-count"></span></a></li>
                    {% endif %}
				</ul>
			{% endif %}

			<!-- Right Side Of Navbar -->
			<ul class="nav navbar-nav navbar-right">
				<!-- Authentication Links -->
				{% if user.is_authenticated %}
					<li>
						<a class="#" href="{% url 'user-profile' %}"> {{ user.username }}({% if user.is_superuser %}admin{% elif user.is_staff %}manager{% else %}guest{% endif %})</a>
					</li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
				{% else %}
					<li><a href="{% url 'login' %}">Login</a></li>
{#					set in settings #}
					{% block register %}
						<li><a href="{% url 'register' %}">Register</a></li>
					{% endblock %}

				{% endif %}
			</ul>
		</div>
	</div>
</nav>